body{
    font-family: 'Poppins', sans-serif;

}
.top-banner{
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    margin-left: 100px;
    padding: 180px 200px;
    text-align: center;
}
.top-p{
    color: aqua;
}
.text{
color:white;
}
#donate-button{
    text-decoration: none;
    background-color:orange ;
    padding: 10px 30px;
    border-radius: 10px;
}
.hr-style{
    width: 45%;
}
#donate-button2{
    text-decoration: none;
    background-color:orange ;
    padding: 10px 20px;
    border-radius: 5px;
}
.donate-section{
    text-align: center;
}
.donate-border{
    width: 100px;
    background-color: rgb(195, 243, 243);
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
    padding: 30px 20px;
    border: 2px solid green;   

}
.donate a:hover{
    width: 100px;
    background-color: aqua;
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
    padding: 30px 20px;
    border: 2px solid green;
}
.donate li{
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
    
}
.donate-tk ul li a{
align-items: center;
padding: 20px 10px;
text-decoration: none;

}
.Donate-plane{
margin-top: 100px;
}
.donate-discription1{
width: 28%;
padding: 10px 15px;
margin-left: 30px;
margin-right: 10px;
border-radius: 5px;
background-color: #bdc3c8;
display: inline-block;
}
.donate-discription2{
    width: 28%;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #e5f2b6;
    display: inline-block;
    margin: 10px 10px;
 }
    .donate-discription3{
        width: 28%;
        padding: 10px 15px;
        border-radius: 5px;
        background-color:rgb(224, 242, 224) ;
        display: inline-block;
        margin: 10px 10px;
 }
 .section3{
    margin-top: 30px;
 margin-left: 60px;
display: flex;
align-items: center;

 }
 .donate-idea{
width: 45%;
 }
 .donate-people img{
    width: 500px;
    margin-left: 20px;
    border-radius: 5px;

 }
 .section4{
    text-align: center;
 }
 .text4{
    text-align: center;
 }
 .text4-p{
    color: #151c22;
    text-align: center;
 }
 .input{
    margin-left: 150px;
    padding: 30px 30px;
    width: 809px;
    text-align: center;
    background-color: rgb(243, 208, 231);
 }
 .footer{
    margin-top: 50px;
    background-color: black;
    text-align: center;
 }
 .footer h2{
    padding-top: 40px;
    color:olive;
 }
 .footer p{
    color:aqua;
    padding-bottom: 40px;
 }

