body{
    font-family: 'Poppins', sans-serif;

}
.top-banner{
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    margin-left: 100px;
    padding: 180px 200px;
    text-align: center;
    
}
.text{
color:white;
}
#donate-button{
    text-decoration: none;
    background-color:orange ;
    padding: 10px 40px;
    border-radius: 5px;
    
}
.donate-section{
    text-align: center;
}
